@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Overpass-Regular";
  src: url("../public/fonts/Overpass/Overpass-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Overpass-Semibold";
  src: url("../public/fonts/Overpass/Overpass-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../public/fonts/Poppins/Poppins-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../public/fonts/Poppins/Poppins-Light.ttf");
  font-display: swap;
}

body {
  background-color: #f8f7f7;
  color: #030408;
}
/* ARROW ANIMATION */
.hover-arrow {
  transition: 250ms all ease;
}

button {
  transition: 150ms all ease;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
